.main {
  .tenants {
    &__text {
      @include fontSize15;
      margin: 0 auto;
      line-height: 28px;
      text-align: center;
      @media only screen and (max-width: 767px) {
        line-height: 20px;
      }
    }
    &__link {
      font-weight: 800;
    }
  }
}
