.main {
  .blog {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      .viewblog {
        display: flex;
        justify-content: space-between;
        &__article {
          max-width: 800px;
          margin-right: 30px;
          @media only screen and (max-width: 1023px) {
            margin-bottom: 40px;
            max-width: unset;
            width: 100%;
          }
        }
        &__title {
          @include fontSize32;
          margin-bottom: 30px;
          font-weight: 800;
          @media only screen and (max-width: 767px) {
            margin-bottom: 10px;
          }
        }
        &__text {
          @include fontSize18;
          line-height: 28px;
        }
        &__aside {
          position: sticky;
          top: 90px;
          height: min-content;
          width: 450px;
          padding: 20px 30px;
          box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.12);
          border-radius: 10px;
          &-title {
            @include fontSize18;
            margin-bottom: 20px;
            font-weight: 800;
          }
          &-link {
            @include fontSize14;
            display: block;
            margin-bottom: 10px;
            transition: color 0.2s ease;
            &:hover {
              color: var(--primary-color);
            }
          }
          &-button {
            @include fontSize14;
            margin-top: 20px;
            color: var(--primary-color);
          }
          @media only screen and (max-width: 1023px) {
            width: 100%;
          }
        }
        &__img {
          margin-bottom: 20px;
          height: 500px;
          object-fit: contain;
          @media only screen and (max-width: 767px) {
            height: unset;
          }
        }
        @media only screen and (max-width: 1023px) {
          flex-direction: column;
        }
      }
      @media only screen and (max-width: 1023px) {
        flex-direction: column;
      }
    }
    &__list {
      display: grid;
      // display: none;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 1rem;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__item {
      position: relative;
      padding: 20px;
      transition: box-shadow 0.2s ease;
      &-title {
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 800;
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--white-color);
      }
      &-text {
        @include fontSize13;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 18px;
      }
      &-more {
        @include fontSize13;
        color: var(--primary-color);
      }
      &:hover {
        box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
      }
      &.skeleton {
        height: 157px;
      }
    }
    &__img {
      display: block;
      height: 100%;
      object-fit: cover;
      &-wrap {
        position: relative;
        margin-bottom: 20px;
        height: 400px;
      }
    }
    &__name {
      @include fontSize18;
      width: 100%;
      margin-bottom: 20px;
      font-weight: 700;
      &.skeleton {
        height: 20px;
      }
    }
  }
}
