.main {
  .about {
    &__text {
      @include fontSize15;
      line-height: 32px;
      text-align: center;
      @media only screen and (max-width: 767px) {
        line-height: 20px;
      }
    }
  }
}


